{% use '_blocks.html.twig' %}
<!DOCTYPE HTML>
<html>
    <head>
        {{ block('head_brand') }} 
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/loader.css" />
        <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="css/owl.theme.css" />
        <link rel="stylesheet" type="text/css" href="css/lity.css" />
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700" rel="stylesheet">
        <script src="https://www.youtube.com/iframe_api"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
        <script>var players = [];</script>
    </head>
    <body style="padding-top: {{ navBarOffset }};">
        {{ block('bar_brand') }}
        <div class="fixed-map-wrapper">
            
        </div>
        <div class="overlay">
            <img class="logo-brand" src="img/logo-illustre-pos.svg" alt="">
            <img class="logo-sponsor" src="img/article/logo-cm.svg" alt="">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <header>
            <div class="header__bg"></div>
            <div class="header__gradient"></div>
            <!-- <div class="video-wrapper">
                <video playsinline autoplay loop muted>
                  <source src="https://player.vimeo.com/external/272224606.hd.mp4?s=0767373c2b5d80d663ef69df7f25421cf400f1e7&profile_id=175" type="video/mp4"> 
                  Votre navigateur ne supporte pas les vidéos HTML%.
                </video>
                </div> -->
            <!-- <div class="smil-wrapper">
                <div class="layer layer-bg"><img src="img/scene-intro-bg.svg" alt=""></div>
                <div class="layer layer-clouds"><img src="quoi bon/scene-intro-clouds.svg" alt=""></div>
                
                <div class="layer layer-smoke1"><img src="img/scene-intro-smoke1.svg" alt=""></div>
                <div class="layer layer-smoke2"><img src="img/scene-intro-smoke2.svg" alt=""></div>
                <div class="layer layer-msc"><img src="img/scene-intro-msc.svg" alt=""></div>
                <div class="layer layer-speedboat"><img src="img/scene-intro-speedboat.svg" alt=""></div>
                <div class="layer layer-fishboat"><img src="img/scene-intro-fishboat.svg" alt=""></div>
                </div> -->
            <div class="header__content">
                <div class="header__content__container">
                    <div class="header__content__container__box">
                        <h1>
                           Vacances en famille:<br>enfer ou paradis?<br><!-- <span></span> -->
                        </h1>
                        <!-- <img class="separateur" src="img/separateur.svg" alt=""> -->
                        <h2 class="author">Un article de<span> François Busson</span></h2>
                        <h2 class="social" >
                            <a target="blank" href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button"><i class="fab fa-facebook-f"></i></a>
                            <a target="blank" href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=letemps"><i class="fab fa-twitter fa-middle"></i></a>
                            <a target="blank" href="mailto:?subject={{ title|url_encode }}&body={{ description|url_encode }}%0D%0A%0D%0A%0D%0A%0D%0A{{ app.url }}"><span class="brand-button"><i class="fas fa-envelope"></i></span></a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="scroll-indicator">
                <div class="scroll-indicator-inner"></div>
            </div>
            <div class="header-sponsor">
                <!-- <a href="https://www.letemps.ch/partenariats" target="_blank"><span class="charte">[?]</span></a> -->
                <a href="https://www.clubmed.ch/" target="_blank"><img src="img/article/logo-cm.svg" alt=""></a> 
                <span>Avec le soutien de </span>
            </div>
        </header>
        <!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
      {#   <section class="gallery small" style="padding-top: 40px; position: relative;">
            <div class="layout">
                <!-- <img class="zoom" src="img/article/map-top.svg"> -->
                
                <div class="caption">
                    <b>NAVIGATION RAPIDE</b>, cliquez sur un sommet pour accéder à la section rapidement.
                </div>
            </div>
        </section> #}
        <section class="padding-bottom text" style="position: relative;">
            <div class="container">
                <h3>
                    Les vacances, cela fait du bien à tout le monde… A condition qu’elles soient choisies et non imposées. C’est ce sur quoi Nahum Frenck, le fameux thérapeute lausannois, insiste lorsqu’on lui pose cette question toute bête: est-ce que ça fait du bien aux familles de partir en vacances?
                    <hr>
                </h3>
                <div class="spacer-small"></div>
                <div class="spacer-small"></div>
                <h4>
                    Texte: François Busson<br>
                    <span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> Format Web: César Greppin
                </h4>
                <p>
                    Dans l’imaginaire collectif, la notion de vacances est le plus souvent rattachée à celle de plaisir: celui de pouvoir s’évader de son chez-soi et de son train-train quotidien pour se retrouver en famille dans le bonheur et l’harmonie. Dans la réalité, les choses ne se passent pas forcément de cette manière idyllique. 
                </p>
                <div class="block-content left nahum">
                    <img class="zoom lazy" data-original="img/article/nahum-frenck.jpg" src="img/article/nahum-frenck.jpg" style="display: block;">
                    <div class="caption"><b>Dr Nahum Frenck</b> – Photo par François Busson</div>
                </div>
                <p>
                    Nahum Frenck, pédiatre et thérapeute de famille à Lausanne, voit chaque été débarquer dans son cabinet des familles rentrées en catastrophe de vacances à la suite de multiples conflits. «C’est une situation récurrente, décrit-il, tant les liens entre les membres de la famille tendent de plus en plus, de nos jours, à se relâcher. Tout ce petit monde qui s’ignore une bonne partie de l’année se redécouvre le temps des vacances et ça se passe parfois très mal. Pour le père qui partait tous les matins au travail à 7 heures et rentrait tous les soirs pour mettre les pieds sous la table, se retrouver à vivre avec sa femme et ses enfants 24 heures sur 24 peut être une expérience à la fois révélatrice et traumatisante.»
                </p>
            </div>
        </section>

        

        <script>
       
                </script>

       <!--  <section class="flightmap">
            <div class="map-container">
                
            </div>
            <div class="side-container is-visible">
                
            </div>
            
        </section> -->


        <section class="encart padding-bottom odd">
            <div class="sponsor-bar">
                <div class="sponsor-bar-container">
                    <a href="https://www.clubmed.ch/" target="_blank"><img src="img/article/logo-cm.svg" alt=""></a>
                    <span>Proposé par </span>
                </div>
            </div>
            <div class="spacer-small"></div>
            <div class="spacer-small"></div>
            <div class="spacer-small"></div>
            <div class="spacer-small"></div>
            <div class="container">
                <h3 class="inter-titre title"><b>Lorem ipsum mon titre club med pour les vacances ok ?</b></h3>
               <!--  <h4>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati, sunt sed quia distinctio iusto beatae optio odio deserunt eum, praesentium cumque nulla, tempora aut tempore! Iure doloribus nihil sequi.
                </h4> -->
                <p>
                   Club Med propose des vacances premium tout-compris pour les familles dans des destinations balnéaires et à la montagne été comme hiver. 
                </p>
                <!-- <img src="img/article/gornergrat.jpg" alt="" style="margin-bottom: 15px;"> -->
                <p>
                   Découvrez le Club Med à travers les yeux de Julie, nouvelle cliente depuis 2019. Elle nous partage ses bienfaits de ses vacances en famille au Club Med La Pointe aux Canonniers à l’île Maurice.
                </p>

                <p>
                    Et vous, comment trouvez-vous votre dose de sérénité en famille pendant vos vacances ?
                </p>

                <br><br>
                

                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/S_g6Ee4v_1g' frameborder='0' allowfullscreen></iframe></div>


                
            </div>
        </section>
        <!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
        <!-- <section class="gallery small">
            <div class="layout">
            	<img class="zoom" src="img/lazy-placeholder.jpg">
            	<div class="caption">
            		<b>LES CLANDESTINS</b> ont souvent subi des situations de violence liées aux narcotrafiquants.
            	</div>
            </div>
            </section> -->
        <!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
        <section class="gallery hero">
            <div class="layout">
                <img class="zoom" src="img/article/co-construction.jpg">
                <div class="caption">
                    <!-- <b>COUCHER DE SOLEIL</b> depuis le sommet du Chasseral (photo : Martin Maegli/Suisse tourisme).</i> -->
                </div>
            </div>
        </section>
        <section class="anchor-chasseral">
            <div class="container">
                <h3 class="inter-titre title">Le power-to-gas</h3>
                <p>
                   Alors, que faut-il faire pour réussir ses vacances en famille? Pour Nahum Frenck, le mot clef est «co-construction»: «Il est primordial que l’ensemble de la famille soit associé au choix du voyage: quel lieu, quel moyen de locomotion pour quelles activités… Il s’agit de se mettre d’accord sur une formule qui, au mieux, convient à tous ou, au pire, génère un minimum d’adhésion de la part de chacun.» Et, pour une fois, internet se révèle diablement utile.
                </p>
                <p class="triggerCity1">
                   Tous les clubs de vacances et les voyagistes mettent à disposition des pages et des pages décrivant les charmes de telle ou telle destination. Le pédiatre lausannois recommande de prendre une heure durant le week-end, toute la famille étant réunie autour de l’écran, pour discuter ensemble des vacances que l’on aimerait faire. 
                </p>
            </div>
        </section>

        <section class="city-section odd city1"> 
            <div class="container">
                <div class="city city1">
                    <div class="city-overlay"></div>
                    <span class="city-title">Marrakech la Palmeraie<span> (Maroc)</span></span>
                    <ul class="city-list">
                        <li>• Havre de paix dans La Palmeraie à Marrakech</li>
                        <li>• Resort idéal pour des initiations golf en famille</li>
                        <li>• Encadrements enfants inclus de 4 à 17 ans</li>
                        <li>
                            <a href="https://www.clubmed.ch/r/Marrakech-la-Palmeraie/y" target="_blank"><button>Découvrir</button></a>
                            <!-- <a href="//www.youtube.com/watch?v=fwDLMj106jI" data-lity><button>Découvrir</button></a> -->
                        </li>
                        </li>
                    </ul>

                </div>
            </div>
        </section>


        <section class="gallery hero">
            <div class="layout">
                <img class="zoom" src="img/article/lointain.jpg">
                <div class="caption">
                    <!-- <b>COUCHER DE SOLEIL</b> depuis le sommet du Chasseral (photo : Martin Maegli/Suisse tourisme).</i> -->
                </div>
            </div>
        </section>
        <section class="anchor-chasseral padding-bottom">
            <div class="container">
                <h3 class="inter-titre title">L’hydrogène</h3>
                <p>
                   L’autre avantage de consacrer du temps à la «co-construction» des vacances, c’est que cela permet aux enfants d’apprécier l’effort financier que consentent les parents pour que la famille puisse partir loin.
                </p>
                <p class="triggerCity2">
                   «Le système du all inclusive, proposé dans la plupart des clubs de vacances, laisse croire aux enfants que tout est gratuit. Or, je constate tous les jours dans mon cabinet que les jeunes générations perdent le sens de la valeur de l’argent. C’est pourquoi, une fois de plus, il est très important de préparer en famille les vacances pour que les plus jeunes voient sur un écran d’ordinateur qu’un séjour à Bali ne coûte pas le même prix qu’en Provence, que plus l’offre d’activités et de services est grande, plus le prix grimpe, etc. Ils doivent comprendre que ce n’est pas gratuit, mais payé d’avance. Cela évitera peut-être que le petit dernier demande un jet-ski pour Noël…»
                </p>
            </div>
        </section>

        <section class="city-section odd city2"> 
            <div class="container">
                <div class="city city2">
                    <div class="city-overlay"></div>
                    <span class="city-title">Michès playa Esmeralda<span> (Rép. Dominicaine)</span></span>
                    <ul class="city-list">
                        <li>• Un Resort éco-chic de luxe dans un paradis préservé</li>
                        <li>• Un large choix d’activités sportives terrestres et nautiques</li>
                        <li>• Encadrements enfants inclus de 4 à 17 ans</li>
                        <li>
                            <a href="https://www.clubmed.ch/r/Mich%C3%A8s-Playa-Esmeralda/y" target="_blank"><button>Découvrir</button></a>
                        </li>
                    </ul>

                </div>
            </div>
        </section>

        <section class="gallery hero">
            <div class="layout">
                <img class="zoom" src="img/article/4espace1.jpg">
                <div class="caption">
                    <!-- <b>COUCHER DE SOLEIL</b> depuis le sommet du Chasseral (photo : Martin Maegli/Suisse tourisme).</i> -->
                </div>
            </div>
        </section>
        <section class="anchor-chasseral padding-bottom">
            <div class="container">
                <h3 class="inter-titre title">Le biogaz</h3>
                <p class="triggerCity3">
                    Et, sur place, que faut-il faire pour que tout le monde soit content? Pour Nahum Frenck, «il faut pouvoir aménager quatre espaces: celui où toute la famille est réunie, un autre où le couple conjugal peut se retrouver dans une certaine intimité, un troisième où les enfants peuvent interagir ensemble, et enfin celui où chaque membre de la famille peut se retrouver seul.» C’est ainsi, insiste-t-il, que l’on arrive à satisfaire les besoins de chacun. Monsieur aura peut-être envie de s’offrir une matinée de ski nautique pendant que Madame restera au bord de la piscine à lire un polar, tandis que les enfants s’initieront aux arts du cirque. Et chacun devrait être libre de retrouver les autres quand il en a envie.
                </p>
            </div>
        </section>

        <section class="city-section odd city3"> 
            <div class="container">
                <div class="city city3">
                    <div class="city-overlay"></div>
                    <span class="city-title">Gregolimano<span> (Grèce)</span></span>
                    <ul class="city-list">
                        <li>• Resort idéal pour les amoureux des sports nautiques</li>
                        <li>• Havre de paix sur la mer d’Egée</li>
                        <li>• Encadrements enfants inclus de 4 à 17 ans</li>
                        <li>
                            <a href="https://www.clubmed.ch/r/Gregolimano/y" target="_blank"><button>Découvrir</button></a>
                        </li>
                    </ul>

                </div>
            </div>
        </section>

        <section class="gallery hero">
            <div class="layout">
                <img class="zoom" src="img/article/respect.jpg">
                <div class="caption">
                    <!-- <b>COUCHER DE SOLEIL</b> depuis le sommet du Chasseral (photo : Martin Maegli/Suisse tourisme).</i> -->
                </div>
            </div>
        </section>
        <section class="anchor-chasseral padding-bottom">
            <div class="container">
                <h3 class="inter-titre title">La méthanation</h3>
                <p class="triggerCity4">
                    Respecter les besoins et les envies de chacun: en théorie, cela paraît très simple… Mais l’expérience professionnelle du thérapeute lausannois l’incite à la prudence: «Malheureusement, les familles adoptent encore trop souvent des modes de fonctionnement extrêmes. Certains parents prennent leurs enfants en otage durant les vacances parce qu’ils trouvent qu’ils ne les voient pas assez durant l’année, tandis que d’autres font tout pour se débarrasser de leur progéniture sous prétexte de souffler un peu. Deux attitudes aussi néfastes l’une que l’autre.» 
                </p>
            </div>
        </section>

        <section class="city-section odd city4"> 
            <div class="container">
                <div class="city city4">
                    <div class="city-overlay"></div>
                    <span class="city-title">Da Balaia<span> (Portugal)</span></span>
                    <ul class="city-list">
                        <li>• Resort idéalement situé sur la côté Algarve</li>
                        <li>• Expérience à vivre en famille sur le trapèze volant</li>
                        <li>• Encadrements enfants inclus de 4 à 17 ans</li>
                        <li>
                            <a href="https://www.clubmed.ch/r/Magna-Marbella/y" target="_blank"><button>Découvrir</button></a>
                        </li>
                    </ul>

                </div>
            </div>
        </section>

        <section class="gallery hero">
            <div class="layout">
                <img class="zoom" src="img/article/regles.jpg">
                <div class="caption">
                    <!-- <b>COUCHER DE SOLEIL</b> depuis le sommet du Chasseral (photo : Martin Maegli/Suisse tourisme).</i> -->
                </div>
            </div>
        </section>
        <section class="anchor-chasseral padding-bottom">
            <div class="container">
                <h3 class="inter-titre title">Le rôle des gaz dans la transition énergétique et l'évolution des infrastructures</h3>
                <p>
                    Un autre risque est que les vacances virent à l’anarchie… «Les règles de la vie de tous les jours doivent également s’appliquer durant les vacances. Si on a décidé d’interdire les smartphones à table durant l’année, il n’y a aucune raison de lever cette interdiction durant les congés. 
                </p>
                <p class="triggerCity5">
                    Les heures de coucher font également partie des règles du jeu à établir avant le départ. Il ne s’agit pas de partir avec le Code pénal dans la poche du bermuda mais de bien clarifier les règles auxquelles on tient avant que la «partie» ne commence».
                </p>
            </div>
        </section>

        <section class="city-section odd city5"> 
            <div class="container">
                <div class="city city5">
                    <div class="city-overlay"></div>
                    <span class="city-title">La Pointe<span> (Ile Maurice)</span></span>
                    <ul class="city-list">
                        <li>• Échappée colorée en famille sur une île luxueuse située au Nord</li>
                        <li>• Sortie en bateau de fond de verre et plongée</li>
                        <li>• Encadrements enfants inclius de 4 à 17 ans</li>
                        <li>
                            <a href="https://www.clubmed.ch/r/La-Plantation-d'Albion-Club-Med/y" target="_blank"><button>Découvrir</button></a>
                        </li>
                    </ul>

                </div>
            </div>
        </section>

      
       
        <footer>
            <!-- <hr class="end"> -->
            <!-- <div class="container">
                <h5>Nos grands formats</h5> 
                
                <div class="row">
                	<a href="https://labs.letemps.ch/interactive/2017/bol-dor-mirabaud-epopee-technologique/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb-boldor.jpg');"></div>
                			<div class="caption">Le Bol d'Or, une épopée technologique</div>
                		</div>
                	</a>
                
                	<a href="https://labs.letemps.ch/interactive/2016/longread-parc-adula/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb_adula.jpg');"></div>
                			<div class="caption">Parc Adula: Bataille dans la montagne</div>
                		</div>
                	</a>
                </div>
                
                <div class="row">
                <a href="https://labs.letemps.ch/interactive/2016/longread-fioul-lourd/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb_fioul.jpg');"></div>
                			<div class="caption">Fioul lourd, le sang impur de la globalisation</div>
                		</div>
                	</a>
                
                	<a href="https://labs.hebdo.ch/interactive/2016/longread-horlogerie-japonaise/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb-horlogerie-japonaise.jpg');"></div>
                			<div class="caption">Horlogerie japonaise – A la conquête du monde</div>
                		</div>
                	</a>
                </div>
                
                <div class="row">
                	<a href="https://labs.letemps.ch/interactive/2016/longread-gothard/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb_gothard.jpg');"></div>
                			<div class="caption">Les oubliés du Gothard</div>
                		</div>
                	</a>
                	<a href="https://labs.letemps.ch/interactive/2016/tchernobyl-30-ans/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb-tchernobyl.jpg');"></div>
                			<div class="caption">30 ans après, voyage au cœur de la zone </div>
                		</div>
                	</a>
                </div>
                
                <div class="row">
                	<a href="https://labs.letemps.ch/interactive/2016/shenzhen/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb_shenzhen.jpg');"></div>
                			<div class="caption">Shenzhen, de la fumée des usines aux ateliers d'artistes</div>
                		</div>
                	</a>
                	<a href="https://labs.letemps.ch/interactive/2016/montre-suisse/" target="blank" class="footer__link">
                		<div class="teaser">
                			<div class="teaser-bg" style="background: url('img/thumb-montre.jpg');"></div>
                			<div class="caption">Comment j'ai fabriqué ma montre en 8 heures</div>
                		</div>
                	</a>
                	
                </div>
                
                </div> -->
            <div class="credits">
                Texte: François Busson<br>
                Format Web: César Greppin
            </div>
        </footer>
        {{ block('footer_brand') }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script> -->
        <script src="js/jquery.lazyload.js?v=1.9.7"></script>
        <script src="js/intro-control.js"></script>
        <script src="js/tilt.jquery.js"></script>
        <script src="js/viewport.js"></script>
        <script src="js/lity.js"></script>
        <script src="js/main.js"></script>
       
        <script src="js/zoom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>-->
    </body>
</html>